body {
  background-image: url("../img/pattern.jpg");
}
.judul {
  text-align: center;
}
div {
  background-color: white;
}
section {
  background-color: white;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: brown;
}
#index_body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
}
